#header {
    text-align: center;
}
.text {
    text-align: center;
}
#number {
    font-size: 2rem;
    font-weight: bolder;
}
.counter {
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    border: medium solid transparent;
    filter: brightness(0.95);
    margin-bottom: 0.5rem;
    background-color: lightblue;
    transition: filter 100ms;
    border-radius: 1rem;
}
.counter:hover {
    /* filter: brightness(1.5); */
    background-color: unset;
    border-color: lightblue;
}

#footer {
    border-top: thin solid;
    text-align: center;
}
